.message {
    position: absolute;
    display: flex;
}

.inactive {
    opacity: 0;
}

.active {
    opacity: 1;
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(10deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}